@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.body {
    background-color: rgb(239, 239, 246);
    margin: 0;
}

.header-section {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header-section h1 {
    font-family: 'Manrope',
        Manrope;
    font-size: 4rem;
}

.search {
    display: flex;
    width: 400px;
}

.search-btn {
    background-color: black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 5px;
    width: 40px;
}

.search input {
    width: 100%;
    font-size: 1rem;
    padding: .4rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: solid 1px rgb(49, 49, 168);
}

.header-section .cart {
    font-size: 2.1rem;
    border: none;
    color: black;
    background-color: white;
    position: relative;
    display: inline-block;
}

.header-section .cart span {
    background-color: red;
    color: white;
    border-radius: 50px;
    position: absolute;
    top: 0px;
    right: -8px;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
}

.right-nav {
    display: flex;
    align-items: center;
}

.contact {
    display: flex;
    align-items: center;
    color: black;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    padding-left: 15%;
}

.right-nav {
    padding-right: 15%;
}

.feature-lg {
    display: none;
}

.h5-lg {
    display: none;
}

.right-nav {
    height: 0px;
}

.contact {
    border: none;
    cursor: pointer;
    position: relative;
}

.contact::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: red;
    transform-origin: center;
    opacity: 0;
}

@keyframes expand {
    0% {
        width: 0;
        opacity: 0;
    }

    50% {
        width: 100%;
        opacity: 1;
    }

    100% {
        width: 100%;
        /* Change this line to make it stay expanded */
        opacity: 1;
        /* Change this line to make it stay expanded */
    }
}

.contact:hover::before {
    animation: expand 1s forwards;
}

.dropdown-nav:hover {
    background-color: red;
    color: white;
}


@media screen and (max-width: 600px) {
    .brand-name {
        padding-left: 5px;
    }

    .header-section .cart span {
        padding: 4px 6px;
    }

    .cart-lg {
        display: none;
    }

    .feature-lg {
        display: block;
    }

    .h5-lg {
        display: block;
    }

    .right-nav {
        height: max-content;
    }
}