.product-page {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-image {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-detail {
    width: 49%;
    display: flex;
    flex-direction: column;
}

.product-detail .seller-badge {
    background-color: whitesmoke;
    border-radius: 10px;
}

.product-detail .seller-badge p {
    padding-left: .5rem;
}

.my-btn .my-sub-btn {
    font-size: 1rem;
    background-color: rgb(49, 49, 168);
    color: white;
}

.my-slide img {
    height: 100%;
    border-radius: 25px;
}

.product-page-container {
    padding-left: 15%;
    padding-right: 15%;
}

.carousel-image {
    height: 500px;
}

.price-section {
    margin-top: "-20px",
}

@media screen and (max-width: 600px) {
    .product-page {
        flex-direction: column;
    }

    .product-image, .product-detail {
        width: 100%;
    }

    .product-page-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .sub-image {
        display: flex;
    }

    .carousel-image {
        height: 400px;
    }

    .price-section {
        margin-top: -20px;
    }

    .product-image .carousel-image {
        height: 350px;
        object-fit: cover;
    }
}