.product-image-description {
    display: flex;
}

.ds-header {
    border-top: 2px solid rgb(93, 82, 82);
}

.product-page {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-image-2 {
    width: 50%;
}

.product-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product-detail .seller-badge {
    background-color: whitesmoke;
    border-radius: 10px;
}

.product-detail .seller-badge p {
    padding-left: .5rem;
}

.my-btn .my-sub-btn {
    font-size: 1rem;
    background-color: rgb(49, 49, 168);
    color: white;
}

.my-slide img {
    height: 100%;
    border-radius: 25px;
}

.product-page-container {
    padding-left: 15%;
    padding-right: 15%;
}

.carousel-image {
    height: 500px;
}

.price-section {
    margin-top: "-20px",
}

.product-image-2 .woocommerce-product-gallery {
    float: left;
}

.summary h4, .summary p {
    font-size: 2rem;
}

.summary .woocommerce-product-details__short-description p {
    font-size: 1.2rem;
    padding-right: 10px;
}

.ds-section p {
    font-size: 1.3rem;
}

.related-products .related h2 {
    font-size: 2rem;
    font-weight: 400;
}

.my-amount {
    font-family: 'Times New Roman', Times, serif;
}

.summary {
    margin-right: 5px;
}


@media screen and (max-width: 600px) {

    .woocommerce-breadcrumb a {
        font-size: .8rem;
    }

    .product-image-description {
        flex-direction: column;
    }

    .summary h4, .summary p {
        font-size: 1.5rem;
    }

    .summary .woocommerce-product-details__short-description p {
        font-size: .9rem;
    }

    .summary .product_meta span {
        font-size: .8rem;
    }

    .description-section li a {
        font-size: 1rem;
    }

    .ds-section h2 {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .ds-section p {
        font-size: .9rem;
    }

    .related-products .related h2 {
        font-size: 1.5rem;
        font-weight: 400;
    }  

    .product-image-2 {
        float: none;
        width: 100%;
    }

    .product-image-2 .woocommerce-product-gallery {
        float: none;
    }

    .description-section {

    }

    .product-page {
        flex-direction: column;
    }

    .product-image, .product-detail {
        width: 100%;
    }

    .product-page-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .sub-image {
        display: flex;
    }

    .carousel-image {
        height: 400px;
    }

    .price-section {
        margin-top: -20px;
    }

    .product-image .carousel-image {
        height: 350px;
        object-fit: cover;
    }
}