@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.body {
  background-color: rgb(239, 239, 246);
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(39, 39, 164);
  background-color: white;
  padding-right: 15%;
  padding-left: 15%;
}

.header-section h1 {
  font-family: Arial;
  font-size: 3rem;
}

.search input {
  width: 600px;
  font-size: 1.2rem;
  padding: .6rem;
  border-radius: 10px;
  border: solid 3px rgb(49, 49, 168);
}

.header-section button {
  font-size: 3.5rem;
  border: none;
  color: rgb(49, 49, 168);
  background-color: white;
}

.header-section button span {
  font-size: 1rem;
  background-color: blue;
  color: white;
  padding: .4rem;
  padding-right: .7rem;
  padding-left: .7rem;
  border-radius: 50px;
}

.feature-section {
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.feature-section .categories {
  background-color: white;
  border-radius: 15px;
  font-size: 1.35rem;
  padding-right: 2rem;
  width: 20%;
}

.feature-section .categories ul {
  list-style: none;
  line-height: 2.2rem;
}

.feature-section .banner {
  width: 75%;
}

.feature-section .banner img {
  background-color: white;
  border-radius: 15px;
  width: 100%;
}